<h1>Perfil do GCEM <%= @gcem.name %></h1>
<div class="container">
	<div class="list-group">
		<a href="#" class="list-group-item active">
			<strong>Dados: </strong>
		</a>
		<a href="#" class="list-group-item"><strong>Endereço: </strong><%= @gcem.address %></a>
		<a href="#" class="list-group-item"><strong>Horário: </strong><%= @gcem.schedule %></a>
		<a href="#" class="list-group-item"><strong>Anfitrião: </strong><%= @gcem.host %></a>
		<a href="#" class="list-group-item"><strong>Dia da semana: </strong><%= @gcem.week_day %></a>
		

	</div>

	<div class="list-group">
		<a href="#" class="list-group-item active">
			<strong>Membros: </strong>
		</a>
		<% @gcem.users.each do |user| %>
			<a href="#" class="list-group-item"><strong>Nome: </strong><%= user.name %></a>
		<% end %>
	</div>
	<hr/>
	<%= link_to "Voltar", :controller => "gcems", :action => "index" %>
</div>





