<h1>Perfil do Usuário</h1>
<div class="container">
	<div class="list-group">
		<a href="#" class="list-group-item active">
			<strong>Nome: </strong><%= @user.name %>
		</a>
		<a href="#" class="list-group-item"><strong>E-mail: </strong><%= @user.email %></a>
		<a href="#" class="list-group-item"><strong>Telefone: </strong><%= @user.phone %></a>
		<a href="#" class="list-group-item"><strong>Operadora: </strong><%= @user.operator %></a>
		<a href="#" class="list-group-item"><strong>Endereço: </strong><%= @user.address %></a>
		<a href="#" class="list-group-item"><strong>Data de nascimento: </strong><%= @user.date_of_birth %></a>
		<a href="#" class="list-group-item"><strong>Encargo: </strong><%= @user.role.name %></a>
		<a href="#" class="list-group-item"><strong>GCEM: </strong><%= @gcem %></a>

	</div>
	<hr/>
	<%= link_to "Voltar", :controller => "users", :action => "index" %>
</div>





