<h1>Lista de Células</h1>


<table class="table table-striped">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Endereço</th>
			<th>Horário</th>
			<th>Anfitrião</th>
			<th>Dia da semana</th>
			<th>Número de membros</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
		<% @cell.each do |cell| %>
		<tr>
			<td><%= cell.name %></td>
			<td><%= cell.address %></td>
			<td><%= cell.schedule %></td>
			<td><%= cell.host %></td>
			<td><%= cell.week_day %></td>
			<td>
				<%= link_to "Remove", cell, method: :delete, data: { confirm: "Are you sure?" } %>
				<%= link_to "Editar", action: "edit", id: cell.id %>
				<%= link_to "Delete", {:action => 'destroy', method: "delete", :id => cell.id},
				:confirm => "Are you sure you want to delete this item?" %>
			</td>
		</tr>
		
		<% end %>
	</tbody>
	

	
</table>
<table class="table">
	<tr>
			<td>
				<%= link_to "Criar nova Célula", {:controller => "cells", :action => "new"}, :class => "btn btn-primary dropdown-toggle btn-sm" %>
			</td>
		</tr>
</table>


