<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Relatório do Dirigente da Célula</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">

				<div class="row show-grid">
					<div class="col-md-5"><strong>Nome do Dirigente</strong></div>
					<div class="col-md-2"><strong>Dia da Reunião</strong></div>
					<div class="col-md-1"><strong>Horário</strong></div>
					<div class="col-md-4"><strong>Mês/ Ano Relatório</strong></div>
					<div class="col-md-5"><%= @report.leader %></div>
					<div class="col-md-2"><%= @report.week_day %></div>
					<div class="col-md-1"><%= @report.schedule %></div>
					<div class="col-md-4"><%= "#{@report.month}/#{@report.year}" %></div>
				</div>
				<div class="row show-grid">
					<div class="col-md-6"><strong>Supervisor</strong></div>
					<div class="col-md-6"><strong>Anfitrião</strong></div>
					<div class="col-md-6"><%= @report.supervisor %></div>
					<div class="col-md-6">.col-md-1</div>
				</div>
				<div class="row show-grid">
					<div class="col-md-12"><strong>Auxiliar e Auxiliares em Treinamento</strong> </div>
					<div class="col-md-12"><strong>Nome do Auxiliar: </strong><%= @report.assist %></div>
					<div class="col-md-12"><strong>Nome do Auxiliar em Treinamento: </strong><%= @report.assist_in_training %></div>
				</div>
				<div class="row show-grid">
					<div class="col-xs-6 col-sm-6">
						<h3>Pessoas presentes na Reunião</h3>
						<div class="col-md-12">Crianças até 11 anos</div>
						<div class="col-md-12">Adolescentes de 12 a 14 anos</div>
						<div class="col-md-12">Adolescentes de 15 a 17 anos</div>
						<div class="col-md-12">Homens Solteiros</div>
						<div class="col-md-12">Homens Casados</div>
						<div class="col-md-12">Mulheres Solteiras</div>
						<div class="col-md-12">Mulheres Casadas</div>
						<div class="col-md-12"><strong>Total Geral</strong></div>
					</div>

					<div class="col-xs-6 col-sm-6">
						<div class="col-xs-6 col-sm-12">Quantidade de pessoas nas reuniões</div>
						
						<% @report.peoples_in_meeting.each_with_index do |c, i|%>
						<div class="col-xs-6 col-sm-3">                	
							<table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info">
								<thead>
									<tr role="row">
										<th rowspan="<%= i + 1 %>" colspan="1" style="width: 204px;">
											<%= i + 1 %>° Semana
										</th>                                        	
									</tr>
								</thead>
								<tbody>
									<tr class="gradeA" role="row">
										<td class="col-md-12"><%= c.first["c"] %></td>
									</tr>
									<tr class="gradeA" role="row">
										<td><%= c.first["a"] %></td>
									</tr>
									<tr class="gradeA" role="row">
										<td><%= c.first["aa"] %></td>
									</tr>
									<tr class="gradeA" role="row">
										<td class="col-md-12"><%= c.first["ms"] %></td>
									</tr>
									<tr class="gradeA" role="row">
										<td class="col-md-12"><%= c.first["mm"] %></td>
									</tr>
									<tr class="gradeA" role="row">
										<td class="col-md-12"><%= c.first["sw"] %></td>
									</tr>
									<tr class="gradeA" role="row">
										<td class="col-md-12"><%= c.first["wf"] %></td>
									</tr>
									
									<tr class="gradeA" role="row">
										<td class="col-md-12"><%= c.first["tt"] %></td>
									</tr>

								</tbody>
							</table>
						</div>
						<% end %>



						<!-- Add the extra clearfix for only the required viewport -->

					</div>
					<div class="row show-grid">
						<div class="col-md-11"><strong>Quantos membros estão ligadas á Célula</strong></div>
						<div class="col-md-1">10</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.col-lg-12 -->
	</div>